/******Start Default Theme*/
/* Active link*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check{
    background-color: #009AFF;
}
.navbar-inverse .navbar-brand span,
.about span,.textimonials .item span,
.footer h3,.footer .copyright span {
    color: #009AFF;
}
.option-box .option-color,
.textimonials .carousel-indicators li.active{
    border: 3px solid #009AFF;
}
.dropdown-menu{
    border-top: 3px solid #009AFF;
}
/*End Default Theme*/